html, body {
  margin: 0px;
  padding: 0px;
}
#my_frame {
  position: relative;
  overflow: hidden;
  width: 1080px;
  height: 1920px;
}
#my_content {
  position: absolute;
  width: 1080px;
  height: 1920px;
  background-color: rgb(0,0,0);
}
.map {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  background-image: url("map.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; 
}
#map1 {
  width: 8000px;
  left: 0px;
}
#map2 {
  width: 8001px;
  left: -8000px;
}
#right_hand {
  background-image: url("right_hand.png");
}
#left_hand {
  background-image: url("left_hand.png");
}
.hand {
  display: none;
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 400px;
  left: 0px;
  top: 0px;
  background-size: cover;
  transition: opacity 2s;
}
#screensaver {
  position: absolute;
  z-index: 1000;
  left: 0%;
  top: 0px;
  width: 16px;
  height: 100%;
  font-size: 0px;
}
.screensaver__beam {
  display: inline-block;
  width: 2px;
  height: 100%;
}
