html, body {
  margin: 0px;
  padding: 0px;
}
#my_frame {
  position: relative;
  overflow: hidden;
  width: 1080px;
  height: 1920px;
}
#my_content {
  position: absolute;
  width: 1080px;
  height: 1920px;
}
#my_svg {
  width: 100%;
  height: 100%;
}
